* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#f2e8e3;
  font-family: 'Fraunces', serif;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.component {
  display: flex;
}
.component .preview,
.component .details {
  width: 268px;
  height: 400px;
}
.preview img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
}
.details {
  background-color: hsl(0, 0%, 100%);
  /* box-sizing: border-box; */
  padding: 24px;
  border-top-right-radius: 10px;
  border-end-end-radius:  10px;
}
.details h3 {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 4px;
  margin-bottom: 26px;
}
.details h1{
  line-height: 0.9;
  font-size: 28px;
  margin-bottom: 26px;
}
.details p{
  font-size: 0.8em;
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
}
.details .description{
  line-height: 1.5;
  margin-bottom: 26px;
}
.details .value {
  display: flex;
  place-items: center;
  margin-bottom: 26px;
}
.details .value .price{
  color: hsl(158, 36%, 37%);
  font-size: 1.8em;
  font-family: 'Fraunces', serif;
  padding-right: 18px;
}
.details .value .fake-price{
  text-decoration: line-through;
}
.details .button{
  display: flex;
  justify-content: center;
}
.details button{
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.details button:hover{
  background-color: hsl(161, 59%, 11%);
}
button svg{
  margin-right: 7px;
}

@media (max-width: 430px) {
  .component {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    place-items: center;
  }

  .component .preview,
  .component .details{
    width: 91%;
    height: 49%;
  }

  .container .component .preview{
    height: 228px;
  }

  .preview img {
    content: url('/images/image-product-mobile.jpg');
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-end-start-radius: 0;
  }
  .details {
    border-top-right-radius: 0;
    border-end-end-radius:  10px;
    border-end-start-radius: 10px;
  }

  .details .description{
    line-height: 1.7;
    margin-bottom: 40px;
  }
  .details button{
    width: 100%;
  }
}